@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4opnn0');
  src:  url('fonts/icomoon.eot?4opnn0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4opnn0') format('truetype'),
    url('fonts/icomoon.woff?4opnn0') format('woff'),
    url('fonts/icomoon.svg?4opnn0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e90c";
}
.icon-settings:before {
  content: "\e900";
  color: #0275b1;
}
.icon-rss:before {
  content: "\e901";
}
.icon-more-horizontal-2:before {
  content: "\e902";
}
.icon-more-horizontal-1:before {
  content: "\e903";
}
.icon-message-square:before {
  content: "\e904";
}
.icon-help-circle:before {
  content: "\e905";
  color: #fff;
}
.icon-edit:before {
  content: "\e906";
}
.icon-count .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-count .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-briefcase:before {
  content: "\e909";
}
.icon-bell:before {
  content: "\e90a";
}
.icon-arrow-up-right:before {
  content: "\e90b";
  color: #02b033;
}
