@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro/GothamPro.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro/GothamPro-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro/GothamPro-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

body {
  background: #f7f9fb;
  margin: 0;
}

.nav {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
}

.logo {
  align-items: center;
  border-right: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: flex;
  height: 80px;
  justify-content: start;
  width: 90px;
}

.logo__image {
  height: 46px;
  width: 46px;
}

.item {
  align-items: center;
  background: #fff;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 90px;
}

.item:hover {
  background: #e5e5e5;
}

.margin-left-14 {
  margin-left: 14px;
}

.item__image {
  height: 24px;
  margin-bottom: 10px;
  margin-top: 18px;
  width: 24px;
}

.item__text {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
}

.search-form {
  align-items: center;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: flex;
  margin-left: 20px;
  width: 367px;
}

.search-form__image {
  height: 24px;
  margin-left: 29px;
  margin-right: 19px;
  width: 24px;
}

.search-form__input {
  border: none;
  color: #cecece;
  font-family: "Gotham Pro";
  font-size: 16px;
  height: 16px;
}

.search-form__input:focus-within {
  outline: none;
}

.profile {
  width: 330px;
}

.c-profile-flex {
  display: flex;
  height: 42px;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 18px;
  width: 195px;
}

.profile__image {
  border-radius: 26px;
  height: 42px;
  width: 42px;
}

.profile-data {
  font-family: "Gotham Pro";
  height: 33px;
  margin-top: 6px;
  width: 135px;
}

.profile-data-personal {
  font-size: 12px;
  margin-bottom: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #181818;
}

.profile-data__name {
  font-size: 12px;
  display: inline-block;
  margin: 0px;
  line-height: 11px;
  text-transform: uppercase;
  color: #181818;
}

.profile-data__pointer {
  font-size: 12px;
  line-height: 11px;
  margin-left: 10px;
  text-transform: uppercase;
  color: rgba(24, 24, 24, 0.2);
}

.profile-raitings__views {
  font-size: 12px;
  line-height: 11px;
  color: #747474;
}

.profile-raitings__number {
  font-size: 12px;
  line-height: 11px;
  margin-left: 4px;
  color: #02b033;
}

.other {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  box-sizing: border-box;
  width: 90px;
}

.other__text {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
}

.main {
  background-color: #f7f9fb;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
  width: 1180px;
}

.content {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
  height: 1826px;
  justify-content: space-between;
  width: 850px;
}

.information {
  background-color: #fff;
  background-image: url(Images/Rectangle\ 3\(1\).svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 360px;
  padding: 20px 30px 30px 25px;
}

.tools {
  display: flex;
  height: 36px;
  justify-content: space-between;
}

.upload-button {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
  border: none;
  border-radius: 4px;
  height: 36px;
  margin-left: 5px;
  opacity: 0.5;
  width: 36px;
}

.upload-button__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.upload-button:hover {
  background: #e5e5e5;
}

.buttons-options {
  display: flex;
  justify-content: space-between;
  width: 178px;
}

.edit-button {
  width: 132px;
  height: 36px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
  border: none;
  border-radius: 4px;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.edit-button:hover {
  background: #e5e5e5;
}

.options-button {
  height: 36px;
  width: 36px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
  border: none;
  border-radius: 4px;
}

.main-inf {
  display: flex;
  height: 170px;
  justify-content: space-between;
  margin-top: 104px;
}

.main-inf__photo {
  width: 170px;
  height: 170px;
}

.contact-inf {
  width: 600px;
}

.contact-inf-top {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.contact-inf-top-left {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.contact-inf-top__name {
  font-family: Gotham Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-right: 8px;
  color: #181818;
}

.contact-inf-top__logo {
  height: 16px;
  width: 16px;
}

.contact-inf-top-right {
  display: flex;
}

.contact-inf-top__location-img {
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.contact-inf-top__location {
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 150%;
  color: #181818;
}

.contact-description {
  font-family: Gotham Pro;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 14px;
  margin-top: 13px;
  color: #181818;
  width: 583px;
}

.contact-options {
  display: flex;
}

.contact-options__info {
  background: #ffffff;
  border: 1px solid #0275b1;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  margin-right: 15px;
  height: 32px;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #0275b1;
}

.contact-options__info:hover {
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  color: #ffffff;
}

.contact-options__connections {
  background: #ffffff;
  border: 1px solid #0275b1;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 32px;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #0275b1;
}

.contact-options__connections:hover {
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  color: #ffffff;
}

.tabs {
  height: 61px;
  display: flex;
  justify-content: left;
}

.button-container {
  width: 240px;
  height: 51px;
  position: relative;
}

.section-button {
  position: absolute;
  bottom: 0px;
  width: 240px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.section-button:hover {
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  border-radius: 4px 4px 0px 0px;
  color: #fff;
  height: 50px;
}

.round-border {
  border-radius: 0px 4px 0px 0px;
}

.about {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 170px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.about__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin: 0px;
}

.about__text {
  font-size: 14px;
  height: 42px;
  line-height: 21px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.link {
  display: block;
  color: #0275b1;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
}

.projects {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 355px;
  padding-left: 30px;
  padding-top: 30px;
}

.projects-container {
  display: flex;
  height: 17px;
  justify-content: space-between;
  width: 148px;
}

.projects__title {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
}

.projects__numbers {
  color: #747474;
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
}

.projects-examples {
  display: flex;
  height: 216px;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 790px;
}

.example-project {
  width: 250px;
}

.example-project__image {
  display: block;
  height: 160px;
  margin-bottom: 15px;
  width: 250px;
}

.example-project__header {
  display: block;
  color: #181818;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 5px;
}

.example-project__description {
  display: block;
  font-size: 10px;
  line-height: 15px;
}

.skills {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 220px;
  padding-left: 30px;
  padding-top: 30px;
}

.skills__title {
  display: block;
  color: #181818;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.skills-examples {
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 790px;
}

.skill {
  background: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  box-sizing: border-box;
  height: 80px;
  padding-top: 14px;
  padding-left: 20px;
  width: 250px;
}

.skill__header {
  display: block;
  color: #181818;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.skill__image {
  height: 24px;
  width: 24px;
}

.experience {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 345px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.experience__title {
  display: block;
  color: #181818;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.experience-content {
  display: flex;
  height: 126px;
  position: relative;
  width: 790px;
}

.experience-content__image {
  height: 54px;
  margin-top: 22px;
  width: 54px;
}

.experience-content__globe{
  height: 32px;
  left: 11px;
  position: absolute;
  top: 33px;
  width: 32px;
}

.experience-description {
  margin-left: 16px;
  margin-top: 20px;
}

.experience-content__title {
  color: #181818;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.experience-company {
  display: flex;
  font-size: 10px;
  line-height: 150%;
  margin-bottom: 5px;
  color: #181818;
}

.experience-company__name {
  font-weight: 500;
  margin-right: 10px;
}

.experience-duration {
  display: flex;
  font-size: 10px;
  line-height: 150%;
  margin-bottom: 10px;
  color: #181818;
}

.expericence-duration__summ {
  color: #0275b1;
  font-weight: 700;
  margin-left: 10px;
}

.experience-about {
  font-size: 10px;
  line-height: 150%;
  color: #181818;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.border-top {
  border-top: 1px solid #f4f4f4;
}

.education {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 195px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.education__title {
  color: #181818;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.education-content {
  display: flex;
  height: 91px;
  justify-content: space-between;
  width: 571px;
}

.education-content__logo {
  border-radius: 27px;
  height: 54px;
  margin-top: 2px;
  width: 54px;
}

.education-description {
  width: 501px;
}

.education-description__university-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #181818;
  margin-top: 0px;
  margin-bottom: 10px;
}

.education-description__degree {
  font-size: 10px;
  line-height: 15px;
  color: #181818;
  margin-bottom: 5px;
}

.education-description__years {
  font-size: 10px;
  line-height: 15px;
  color: #181818;
  margin-top: 0px;
  margin-bottom: 10px;
}

.education-description__add-courses {
  font-size: 10px;
  line-height: 15px;
  color: #181818;
  margin: 0px;
}

.sidebar {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
  font-family: "Gotham Pro";
  height: 1165px;
  justify-content: space-between;
  width: 290px;
}

.sidebar-top {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-right: 1px;
  width: 230px;
}

.sidebar-headers {
  color: #181818;
  display: inline-block;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.dashboard {
  background-color: #fff;
  box-sizing: border-box;
  height: 360px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.statistics {
  border-top: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 294px;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

.statistics-indicator {
  color: #181818;
  font-size: 14px;
  line-height: 21px;
}

.statistics__numbers {
  color: #0275b1;
  font-size: 52px;
  font-weight: 550;
  line-height: 50px;
  text-transform: uppercase;
}

.visitors {
  background-color: #fff;
  box-sizing: border-box;
  height: 427px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.visitors-pages {
  border-top: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 341px;
  justify-content: space-between;
  padding-top: 20px;
}

.page {
  display: flex;
  height: 52px;
}

.page__text {
  color: #181818;
  font-size: 10px;
  line-height: 15px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page__name {
  color: #181818;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 5px;
  margin-top: 12px;
}

.display-block {
  display: block;
}

.courses {
  background-color: #fff;
  box-sizing: border-box;
  height: 338px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.variants {
  border-top: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 219px;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 20px;
  width: 228px;
}

.course {
  display: flex;
  height: 56px;
  justify-content: space-between;
  width: 228px;
}

.course-screen {
  height: 52px;
  margin-right: 15px;
  position: relative;
  width: 80px;
}

.course-screen__image {
  height: 52px;
  width: 80px;
}

.course-screen__play {
  display: block;
  left: 31px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.course-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course__name {
  color: #181818;
  font-size: 14px;
  height: 36px;
  line-height: 17px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.course__viewers {
  color: #181818;
  font-size: 10px;
  line-height: 15px;
}

.footer {
  background: linear-gradient(
    180deg,
    rgba(241, 244, 248, 0.8) 0%,
    rgba(241, 244, 248, 0) 100%
  );
  border-top: 1px solid #e7e7e7;
  display: flex;
  height: 215px;
  justify-content: center;
  margin-top: 40px;
}

.container {
  display: flex;
  width: 1180px;
}

.footer-logo {
  height: 79px;
  margin-top: 29px;
  width: 61px;
}

.footer-logo__image {
  display: block;
  height: 46px;
  margin-bottom: 12px;
  width: 46px;
}

.footer-logo__name {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.two-letters {
  color: #0077b5;
}

.nav-links {
  display: flex;
  color: #181818;
  flex-direction: column;
  font-family: "Gotham Pro";
  font-size: 12px;
  justify-content: space-between;
  line-height: 11px;
  width: 135px;
}

.nav-links__text:hover {
  color: #0275b1;
  text-decoration: underline;
}

.margin-left-69 {
  height: 127px;
  margin-left: 69px;
  margin-top: 34px;
}

.margin-left-35 {
  height: 86px;
  margin-left: 35px;
  margin-top: 76px;
}

.margin-left-45 {
  height: 61px;
  margin-left: 45px;
  margin-top: 76px;
}

.footer-section {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.nav-links__text {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
}

.fast-access {
  margin-top: 35px;
  width: 170px;
}

.fast-access__button {
  background-color: #f7f9fb;
  border: 1px solid #0275b1;
  border-radius: 4px;
  box-sizing: border-box;
  color: #0275b1;
  font-family: "Gotham Pro";
  font-size: 12px;
  height: 32px;
  line-height: 11px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 170px;
}

.fast-access__button:hover {
  background-color: #0275b1;
  color: #f7f9fb;
}

.margin-left-65 {
  margin-left: 65px;
}

.margin-bottom-23 {
  margin-bottom: 23px;
}

.lang {
  margin-top: 35px;
  width: 270px;
}

.margin-left-60 {
  margin-left: 60px;
}

.lang-select {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  height: 32px;
  line-height: 11px;
  padding-left: 15px;
  padding-right: 14.25px;
  text-transform: uppercase;
  width: 270px;
}
