@font-face {
  font-family: Gotham Pro;
  src: url(GothamPro/GothamPro.ttf);
}

body {
  background: #f7f9fb;
  margin: 0;
}

.nav {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
}

.logo {
  align-items: center;
  border-right: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-right: 14px;
  width: 130px;
}

.logo__image {
  height: 46px;
  width: 46px;
}

.item {
  align-items: center;
  background: #fff;
  border: none;
  display: flex;
  flex-direction: column;
  width: 90px;
}

.item__image {
  height: 24px;
  margin-bottom: 10px;
  margin-top: 18px;
  width: 24px;
}

.item__text {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
}

.search-form {
  align-items: center;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: flex;
  margin-left: 20px;
  width: 367px;
}

.search-form__image {
  height: 24px;
  margin-left: 30px;
  margin-right: 20px;
  width: 24px;
}

.search-form__input {
  border: none;
  color: #cecece;
  font-family: "Gotham Pro";
  font-size: 16px;
  height: 16px;
}

.search-form__input:focus-within {
  outline: none;
}

.profile {
  align-items: center;
  display: flex;
  width: 330px;
}

.profile__image {
  background-color: #0000ff;
  border-radius: 26px;
  height: 42px;
  margin-left: 30px;
  width: 42px;
}

.other {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  box-sizing: border-box;
  width: 90px;
}

.other__text {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
}

.main {
  background-color: #f7f9fb;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
  width: 1180px;
}

.content {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
  height: 1826px;
  justify-content: space-between;
  width: 850px;
}

.information {
  background-color: #fff;
  height: 360px;
}

.tabs {
  height: 61px;
  display: flex;
  justify-content: left;
}

.button-container {
  width: 240px;
  height: 51px;
  position: relative;
}

.section-button {
  position: absolute;
  bottom: 0px;
  width: 240px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  font-family: Gotham Pro;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.section-button:hover {
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  border-radius: 4px 4px 0px 0px;
  color: #fff;
  height: 50px;
}

.round-border {
  border-radius: 0px 4px 0px 0px;
}

.about {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 170px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.about__title {
  font-size: 18px;
  line-height: 17px;
  margin: 0px;
}

.about__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.link {
  color: #0275b1;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
}

.projects {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 355px;
  padding-left: 30px;
  padding-top: 30px;
}

.projects__title {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin: 0px;
  margin-right: 15px;
}

.projects__numbers {
  color: #747474;
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
}

.projects-examples {
  display: flex;
  height: 216px;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 790px;
}

.example-project {
  font-size: 10px;
  line-height: 15px;
  width: 250px;
}

.example-project__image {
  height: 160px;
  width: 250px;
}

.example-project__header {
  color: #181818;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.skills {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 220px;
  padding-left: 30px;
  padding-top: 30px;
}

.skills__title {
  color: #181818;
  font-size: 18px;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.skills-examples {
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 790px;
}

.skill {
  background: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  box-sizing: border-box;
  height: 80px;
  padding-top: 14px;
  padding-left: 20px;
  width: 250px;
}

.skill__header {
  color: #181818;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.skill__image {
  height: 24px;
  width: 24px;
}

.experience {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 345px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.experience__title {
  color: #181818;
  font-size: 18px;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.experience-content {
  display: flex;
  height: 106px;
  width: 790px;
}

.experience-content__image {
  height: 54px;
  margin-top: 2px;
  width: 54px;
}

.experience-content__title {
  color: #181818;
  font-size: 14px;
  line-height: 21px;
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.line {
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
}

.education {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Gotham Pro";
  height: 195px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.education__title {
  color: #181818;
  display: block;
  font-size: 18px;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.education-content {
  display: flex;
  height: 91px;
  justify-content: space-between;
  width: 571px;
}

.education-content__logo {
  border-radius: 27px;
  height: 54px;
  margin-top: 2px;
  width: 54px;
}

.education-description {
  width: 501px;
}

.education-description__university-name {
  font-size: 14px;
  line-height: 21px;
  color: #181818;
  margin-top: 0px;
  margin-bottom: 10px;
}

.education-description__degree {
  font-size: 10px;
  line-height: 15px;
  color: #181818;
  margin-top: 0px;
  margin-bottom: 5px;
}

.education-description__years {
  font-size: 10px;
  line-height: 15px;
  color: #181818;
  margin-top: 0px;
  margin-bottom: 10px;
}

.education-description__add-courses {
  font-size: 10px;
  line-height: 15px;
  color: #181818;
  margin: 0px;
}

.sidebar {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
  font-family: "Gotham Pro";
  height: 1165px;
  justify-content: space-between;
  width: 290px;
}

.sidebar-top {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-right: 1px;
  width: 230px;
}

.sidebar-headers {
  color: #181818;
  display: inline-block;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.dashboard {
  background-color: #fff;
  box-sizing: border-box;
  height: 360px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.statistics {
  display: flex;
  flex-direction: column;
  height: 253px;
  justify-content: space-between;
}

.statistics-indicator {
  color: #181818;
  font-size: 14px;
  line-height: 21px;
}

.statistics__numbers {
  color: #0275b1;
  font-size: 52px;
  line-height: 50px;
  text-transform: uppercase;
}

.visitors {
  background-color: #fff;
  box-sizing: border-box;
  height: 427px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.visitors-pages {
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;
}

.page {
  display: flex;
  height: 52px;
}

.page__text {
  color: #181818;
  font-size: 10px;
  line-height: 15px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page__name {
  color: #181818;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 5px;
  margin-top: 12px;
}

.courses {
  background-color: #fff;
  box-sizing: border-box;
  height: 338px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.variants {
  display: flex;
  flex-direction: column;
  height: 188px;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 228px;
}

.course {
  display: flex;
  height: 56px;
  justify-content: space-between;
  width: 228px;
}

.course-screen {
  height: 52px;
  margin-right: 15px;
  position: relative;
  width: 80px;
}

.course-screen__image {
  height: 52px;
  width: 80px;
}

.course-screen__play {
  display: block;
  left: 31px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.course-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course__name {
  color: #181818;
  font-size: 14px;
  height: 36px;
  line-height: 17px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.course__viewers {
  color: #181818;
  font-size: 10px;
  line-height: 15px;
}

.footer {
  background: linear-gradient(
    180deg,
    rgba(241, 244, 248, 0.8) 0%,
    rgba(241, 244, 248, 0) 100%
  );
  border-top: 1px solid #e7e7e7;
  height: 215px;
  margin-top: 40px;
}

.container {
  display: flex;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}

.footer-logo {
  height: 79px;
  margin-top: 30px;
  width: 61px;
}

.footer-logo__image {
  height: 46px;
  margin-bottom: 12px;
  width: 46px;
}

.footer-logo__name {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 14px;
  line-height: 21px;
}

.two-letters {
  color: #0077b5;
}

.nav-links {
  display: flex;
  color: #181818;
  flex-direction: column;
  font-family: "Gotham Pro";
  font-size: 12px;
  justify-content: space-between;
  line-height: 11px;
  width: 135px;
}

.nav-links__text:hover {
  color: #0275b1;
  text-decoration: underline;
}

.margin-left-69 {
  height: 127px;
  margin-left: 69px;
  margin-top: 35px;
}

.margin-left-35 {
  height: 86px;
  margin-left: 35px;
  margin-top: 76px;
}

.margin-left-45 {
  height: 61px;
  margin-left: 45px;
  margin-top: 76px;
}

.footer-section {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.nav-links__text {
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
}

.fast-access {
  margin-top: 35px;
  width: 170px;
}

.fast-access__button {
  background-color: #f7f9fb;
  border: 1px solid #0275b1;
  border-radius: 4px;
  box-sizing: border-box;
  color: #0275b1;
  font-family: "Gotham Pro";
  font-size: 12px;
  height: 32px;
  line-height: 11px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 170px;
}

.fast-access__button:hover {
  background-color: #0275b1;
  color: #f7f9fb;
}

.margin-left-65 {
  margin-left: 65px;
}

.margin-bottom-23 {
  margin-bottom: 23px;
}

.lang {
  margin-top: 35px;
  width: 270px;
}

.margin-left-60 {
  margin-left: 60px;
}

.lang-select {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #181818;
  font-family: "Gotham Pro";
  font-size: 12px;
  height: 32px;
  line-height: 11px;
  padding-left: 15px;
  padding-right: 14.25px;
  text-transform: uppercase;
  width: 270px;
}
